body {
  font-family: sans-serif;
  background-color: #262626;
  color: #777777;
  user-select: none;

  #app {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  
    #app-content {
      flex-grow: 1;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(108, 108, 108);
      }

      &::-webkit-scrollbar-track {
        background: #262626;
      }
    }
  }
}
